#board {
  display: flex;
  flex-direction: column;
  height: auto;
}

.piece {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* By &lt;a href=&quot;https://en.wikipedia.org/wiki/User:Cburnett&quot; class=&quot;extiw&quot; title=&quot;en:User:Cburnett&quot;&gt;en:User:Cburnett&lt;/a&gt; - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt; &lt;span style=&quot;display:inline-block;width:auto;white-space:nowrap;vertical-align:middle;float:ltr;direction:ltr;line-height:22px;height:24px;font-size:.96em;margin:0px;padding:2px 4px 2px 6px;color:#000;background:#F8F9FA;border:1px solid #BAB;background:#FEE;border:1px solid #600&quot;&gt;&lt;a href=&quot;//commons.wikimedia.org/wiki/File:Inkscape-ws.svg&quot; class=&quot;image&quot;&gt;&lt;/a&gt;&amp;nbsp;This W3C-unspecified &lt;a href=&quot;https://en.wikipedia.org/wiki/Vector_images&quot; class=&quot;extiw&quot; title=&quot;w:Vector images&quot;&gt;vector image&lt;/a&gt; was created with &lt;a href=&quot;https://en.wikipedia.org/wiki/Inkscape&quot; class=&quot;extiw&quot; title=&quot;w:Inkscape&quot;&gt;Inkscape&lt;/a&gt; .&lt;/span&gt;, <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=1499800">Link</a>*/

.piece.WHITEPAWN {
  background-image: url(/img/WHITEPAWN.svg);
}

.piece.WHITEKING {
  background-image: url(/img/WHITEKING.svg);
}

.piece.WHITEQUEEN {
  background-image: url(/img/WHITEQUEEN.svg);
}
.piece.WHITEROOK {
  background-image: url(/img/WHITEROOK.svg);
}

.piece.WHITEBISHOP {
  background-image: url(/img/WHITEBISHOP.svg);
}
.piece.WHITEKNIGHT {
  background-image: url(/img/WHITEKNIGHT.svg);
}

/* ---- Black ------*/
.piece.BLACKPAWN {
  background-image: url(/img/BLACKPAWN.svg);
}

.piece.BLACKKING {
  background-image: url(/img/BLACKKING.svg);
}

.piece.BLACKQUEEN {
  background-image: url(/img/BLACKQUEEN.svg);
}
.piece.BLACKROOK {
  background-image: url(/img/BLACKROOK.svg);
}

.piece.BLACKBISHOP {
  background-image: url(/img/BLACKBISHOP.svg);
}
.piece.BLACKKNIGHT {
  background-image: url(/img/BLACKKNIGHT.svg);
}
.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
}

.square.BLACK {
  background: black;
}

.square.WHITE {
  background: white;
}

.square.candidate {
  outline: 0.5em double gold;
}
